<main class="overflow-hidden container ">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#!/admin"
                ><i class="bi bi-clipboard-data"></i> List Product</a
              >
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#!/add"
                ><i class="bi bi-telephone-inbound-fill"></i> Category</a
              >
            </li> -->
        </ul>
        </div>
      </nav>
    <h1 class="text-center mb-3">Danh sách sản phẩm</h1>
    <a href="#!add/"><button class="btn btn-success float-end mb-3">Thêm</button></a>
<table class="table text-center ">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="p in products|orderBy:'-id'|limitTo:6:begin">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.price}}</td>
        <td>{{p.description}}</td>
        <td class="w-25"><img src="{{p.image}}" alt=""></td>
        <td>
            <button class="btn btn-warning" ng-click="onEdit(p.id)">Sửa</button>
            <button class="btn btn-danger" ng-click="onDelete(p.id)">Xóa</button>
        </td>
    </tr>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mt-4">
    <li class="page-item" ng-click="first()">
      <a class="page-link"><i class="bi bi-caret-left"></i></a>
    </li>
    <li class="page-item active" ng-click="prev()"><a class="page-link">prev</a></li>
    <li class="page-item" ng-click="next()"><a class="page-link">next</a></li>
    <li class="page-item" ng-click="last()">
      <a class="page-link"><i class="bi bi-caret-right"></i></a>
    </li>
  </ul>
</nav>
</main>