<main class="overflow-hidden">
  <div class="container">
    <!-- User info -->
    <div class="row shadow-sm pro-bg w-100 rounded-3">
      <div class="row p-3">
        <div class="col-1 text-end mt-n5 pro-avatar">
          <img
            src="/images/avtar1.jpg"
            class="rounded-circle border border-4 border-white h-100"
            alt=""
          />
        </div>
        <div class="lh-1 col-11">
          <h2 class="mb-0">Nga mina</h2>
          <p class="mb-0 d-block">@ngamina</p>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div class="row mt-0 mt-md-4">
      <div class="col-lg-3 col-md-4 col-12">
        <!-- Side navbar -->
        <nav
          class="card navbar navbar-expand-md navbar-light shadow-sm bg-white p-3 rounded-3"
        >
          <!-- Collapse navbar -->
          <div class="collapse navbar-collapse" id="sidenav">
            <div class="navbar-nav flex-column">
              <span class="navbar-header">Thông tin cá nhân</span>
              <!-- List -->
              <ul class="list-unstyled ms-n2 mb-4">
                <!-- Nav item -->
                <li class="nav-item">
                  <a class="nav-link" href="./profile.html"
                    ><i class="bi bi-gear-fill"></i> Chỉnh sửa thông tin</a
                  >
                </li>
                <!-- Nav item -->
                <li class="nav-item">
                  <a class="nav-link" href="./billing.html"
                    ><i class="bi bi-bag"></i> Quản lý đơn hàng</a
                  >
                </li>
                <!-- Nav item -->
                <li class="nav-item">
                  <a class="nav-link" href="./address.html"
                    ><i class="bi bi-house-gear"></i> Địa chỉ</a
                  >
                </li>
                <!-- Nav item -->
                <li class="nav-item">
                  <a class="nav-link" href="./index.html"
                    ><i class="bi bi-box-arrow-right"></i> Đăng xuất</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-lg-9 col-md-8 col-12">
        <!-- Card -->
        <div class="card p-3">
          <!-- Card header -->
          <div class="card-header pro-header">
            <h3>Đơn hàng của bạn</h3>
            <p>Bạn có toàn quyền quản lý cài đặt tài khoản của mình.</p>
          </div>
          <div class="card-body">
            <table class="table text-center align-middle">
              <thead>
                <tr class="">
                  <th>Đơn hàng</th>
                  <th>Sản phẩm</th>
                  <th>Giá</th>
                  <th>Số lượng</th>
                  <th>Tổng tiền</th>
                  <th>Trạng thái</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td class="cart_item text-start">
                    <img
                      src="/images/4d247cffb2c4d5-hngtrchanh.png"
                      alt=""
                    />
                    <p>Hồng trà chanh</p>
                  </td>
                  <td class="cart_price">40.000 đ</td>
                  <td class="cart_quantity">1</td>
                  <td class="cart_total">40.000 đ</td>
                  <td>Đang giao</td>
                  <td class="cart_item_close">
                    <span class=""><i class="bi bi-x-lg"></i></span>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td class="cart_item text-start">
                    <img
                      src="/images/64bd44180be24c-sinhtchanh.png"
                      alt=""
                    />
                    <p>Chanh đá xay</p>
                  </td>
                  <td class="cart_price">50.000 đ</td>
                  <td class="cart_quantity">2</td>
                  <td class="cart_total">100.000 đ</td>
                  <td>Đang giao</td>
                  <td class="cart_item_close">
                    <span class=""><i class="bi bi-x-lg"></i></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>