<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
  </head>

  <body>
    <header>
      <!-- nav -->
      <div class="video-wrapper shadow-sm mb-4">
        <video playsinline autoplay muted loop poster="" class="w-100">
          <source src="/images/desktop.mp4" type="video/mp4" />
        </video>
        <nav
          class="navbar navbar-expand-lg p-3 rounded d-flex align-items-center"
        >
          <div class="container-fluid px-0">
            <a class="logo mx-4" href="./index.html"
              ><img src="/images/logos/SvqIUpD.webp"
            /></a>
            <div class="ms-auto align-items-center order-lg-3">
              <div class="dropdown navbar-nav navbar-right-wrap mx-4 flex-row">
                <a
                  href=""
                  data-bs-toggle="dropdown"
                  data-bs-display="static"
                  aria-expanded="false"
                >
                  <img
                    alt="avatar"
                    src="/images/avtar1.jpg"
                    class="rounded-circle avatar"
                /></a>
                <div
                  class="dropdown-menu dropdown-menu-end position-absolute my-2"
                >
                  <div class="dropdown-item">
                    <div class="d-flex">
                      <img
                        alt="avatar"
                        src="/images/avtar1.jpg"
                        class="rounded-circle avatar"
                      />
                      <div class="ms-3 lh-1">
                        <h5 class="mb-1">Nga mina</h5>
                        <p class="mb-0 text-muted">ngantph31360@fpt.edu.vn</p>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <ul class="list-unstyled">
                    <li>
                      <a class="dropdown-item" href="./profile.html">
                        <i class="bi bi-person-lines-fill me-2"></i> Thông tin
                      </a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        data-bs-target="#exampleModalToggle"
                        data-bs-toggle="modal"
                      >
                        <i class="bi bi-gear-fill me-2"></i> Đăng ký
                      </a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal"
                      >
                        <i class="bi bi-gear-fill me-2"></i> Đăng nhập
                      </a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        data-bs-target="#exampleModalToggle3"
                        data-bs-toggle="modal"
                        href="#"
                      >
                        <i class="bi bi-gear-fill me-2"></i> Quên mật khẩu
                      </a>
                    </li>
                  </ul>
                  <hr />
                  <ul class="list-unstyled">
                    <li>
                      <a class="dropdown-item" href="/Asm/index.html">
                        <i class="bi bi-power me-2"></i> Đăng xuất
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="./index.html"
                    ><i class="bi bi-house-heart-fill"></i> Trang chủ</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./aboutus.html">Giới thiệu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./contact.html"
                    ><i class="bi bi-headset"></i> Liên hệ</a
                  >
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Góp ý</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="#"
                    ><i class="bi bi-question-diamond"></i> Blog</a
                  >
                </li>
              </ul>
            </div>
            <form
              class="mt-3 mt-lg-0 ms-lg-3 d-flex align-items-center"
              role="search"
            >
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <a class="btn btn-outline-dark" href="./search.html">
                <i class="bi bi-search-heart"></i>
              </a>
            </form>
            <a href="./carts.html" class="cart text-black ms-2"><i class="bi bi-cart4 fs-2"></i></a>
          </div>
        </nav>
      </div>
    </header>
    <!-- main -->
    <main class="overflow-hidden">
      <div class="cart-bg w-100">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="fs-1">Giỏ hàng</h2>
              <span>Mua sắm - Tận hưởng</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row content">
          <div class="col-sm-3">
            <div class="list-group rounded-3">
              <p
                href="#"
                class="list-group-item list-group-item-action title-ctgr"
                aria-current="true"
              >
                <i class="bi bi-list-stars text-white"> Danh mục sản phẩm</i>
              </p>
              <a href="./category.html" class="list-group-item list-group-item-action"
                >Cà phê gói</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Cà phê topping</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Nước đá xay</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Trà gói</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Trà topping</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Trà sữa</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Sữa chua</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Bánh tráng miệng</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Nước đá xay</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Cà phê hạt</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Trà hộp</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Set trà lễ</a
              >
            </div>
          </div>
          <div
            class="col-sm-9 border border-dark-subtle rounded-3 bg-white p-3"
          >
            <div class="shoping-cart py-5 px-2">
              <div class="row">
                <div class="col-lg-12">
                  <div class="cart_table mb-5">
                    <table class="table text-center align-middle">
                      <thead>
                        <tr class="fs-5">
                          <th class="shoping_product text-start">Sản phẩm</th>
                          <th>Giá</th>
                          <th>Số lượng</th>
                          <th>Tổng tiền</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="cart_item text-start">
                            <img
                              src="/images/4d247cffb2c4d5-hngtrchanh.png"
                              alt=""
                            />
                            <h5>Hồng trà chanh</h5>
                          </td>
                          <td class="cart_price">40.000 đ</td>
                          <td class="cart_quantity ps-5">
                            <div class="quantity d-flex align-items-center">
                              <span
                                ><i class="bi bi-dash-square fs-3 me-2"></i
                              ></span>
                              <input
                                class="text-center me-2"
                                type=""
                                value="1"
                              />
                              <span
                                ><i class="bi bi-plus-square fs-3"></i
                              ></span>
                            </div>
                          </td>
                          <td class="cart_total">40.000 đ</td>
                          <td class="cart_item_close">
                            <span class=""><i class="bi bi-x-lg"></i></span>
                          </td>
                        </tr>
                        <tr>
                          <td class="cart_item text-start">
                            <img
                              src="/images/64bd44180be24c-sinhtchanh.png"
                              alt=""
                            />
                            <h5>Chanh đá xay</h5>
                          </td>
                          <td class="cart_price">50.000 đ</td>
                          <td class="cart_quantity ps-5">
                            <div class="quantity d-flex align-items-center">
                              <span
                                ><i class="bi bi-dash-square fs-3 me-2"></i
                              ></span>
                              <input
                                class="text-center me-2"
                                type=""
                                value="2"
                              />
                              <span
                                ><i class="bi bi-plus-square fs-3"></i
                              ></span>
                            </div>
                          </td>
                          <td class="cart_total">100.000 đ</td>
                          <td class="cart_item_close">
                            <span class=""><i class="bi bi-x-lg"></i></span>
                          </td>
                        </tr>
                        <tr>
                          <td class="cart_item text-start">
                            <img
                              src="/images/72781119ecd681-sclaxaycnghnhnhnvespresso.png"
                              alt=""
                            />
                            <h5>Oreo Capuchino đá xay</h5>
                          </td>
                          <td class="cart_price">65.000 đ</td>
                          <td class="cart_quantity ps-5">
                            <div class="quantity d-flex align-items-center">
                              <span
                                ><i class="bi bi-dash-square fs-3 me-2"></i
                              ></span>
                              <input
                                class="text-center me-2"
                                type=""
                                value="1"
                              />
                              <span
                                ><i class="bi bi-plus-square fs-3"></i
                              ></span>
                            </div>
                          </td>
                          <td class="cart_total">65.000 đ</td>
                          <td class="cart_item_close">
                            <span class=""><i class="bi bi-x-lg"></i></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 mb-4 ">
                  <div class="cart_btns">
                    <a href="#" class="btn cart-btn">Quay lại trang chủ</a>
                    
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="continue">
                    <div class="discount">
                      <h5>Mã giảm giá</h5>
                      <form action="#">
                        <input
                          type="text"
                          placeholder="Nhập mã giảm giá"
                        />
                        <button type="submit" class="vourcher">
                          Sử dụng
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="shoping_checkout p-3 ">
                    <h5 class="fw-bold mb-4">Chi tiết thanh toán</h5>
                    <ul class="mb-2 p-0 ">
                      <li class="list-unstyled fw-bolder border-bottom pb-3 mb-3">Tổng tiền hàng <span class="text-danger float-end">205.000 đ</span></li>
                      <li class="list-unstyled fw-bolder border-bottom pb-3 mb-3">Phí vận chuyển <span class="text-danger float-end">30.000 đ</span></li>
                      <li class="list-unstyled fw-bolder border-bottom pb-3 mb-3">Giảm phí vận chuyển <span class="text-danger float-end">-20.000 đ</span></li>
                      <li class="list-unstyled fw-bolder pb-3 mb-3">Tổng tiền <span class="text-danger float-end">215.000 đ</span></li>
                    </ul>
                    <a href="./checkout.html" class="d-block text-center text-uppercase ">Thanh toán</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div id="footer" class="mt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h5>VĂN PHÒNG GIAO DỊCH</h5>
              <ul class="list-menu">
                <li class="li_menu">
                  <a href="" title="Trang chủ">Trang chủ</a>
                </li>
                <li class="li_menu">
                  <a href="" title="Trang chủ">Sản phẩm</a>
                </li>
                <li class="li_menu">
                  <a href="" title="Trang chủ">Giới thiệu</a>
                </li>
                <li class="li_menu">
                  <a href="" title="Trang chủ">Liên hệ</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <h5>VỀ CHÚNG TÔI</h5>
              <ul class="list-menu">
                <li class="li_menu">
                  <a href="" title="Trang chủ">Trang chủ</a>
                </li>
                <li class="li_menu">
                  <a href="" title="Trang chủ">Sản phẩm</a>
                </li>
                <li class="li_menu">
                  <a href="" title="Trang chủ">Giới thiệu</a>
                </li>
                <li class="li_menu">
                  <a href="" title="Trang chủ">Liên hệ</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <h5>CHÍNH SÁCH BÁN HÀNG</h5>
              <ul class="list-menu">
                <li class="li_menu">
                  <a href="" title="Trang chủ">Trang chủ</a>
                </li>
                <li class="li_menu">
                  <a href="" title="Trang chủ">Sản phẩm</a>
                </li>
                <li class="li_menu">
                  <a href="" title="Trang chủ">Giới thiệu</a>
                </li>
                <li class="li_menu">
                  <a href="" title="Trang chủ">Liên hệ</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <h5>THEO DÕI CHÚNG TÔI</h5>
              <ul class="list-menu">
                <li class="li_menu">
                  <a href="" title="Trang chủ">Trang chủ</a>
                </li>
                <li class="li_menu">
                  <a href="" title="Trang chủ">Sản phẩm</a>
                </li>
                <li class="li_menu">
                  <a href="" title="Trang chủ">Giới thiệu</a>
                </li>
                <li class="li_menu">
                  <a href="" title="Trang chủ">Liên hệ</a>
                </li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6">
              <h5>THIÊN ĐƯỜNG MUA SẮM (TÊN DN)</h5>
              <p>Copyright@2023 Công ty cổ phần thương mại (ten dn)</p>
              <p>Chứng nhận DKKD số: 0388282938 do sở KH & ĐT TP.Hà Nội cấp</p>
              <p>Địa chỉ: Trịnh Văn Bô - Nam Từ Liêm - Hà Nội</p>
              <p>Điện thoại: 0352403019 - Email: ngantph31360@fpt.edu.vn</p>
            </div>
            <div class="col-md-6">
              <div>
                <span class="box50 border border-danger text-primary mr-3">
                  <i class="bi bi-facebook"></i>
                </span>
                <span class="box50 border border-danger text mr-3">
                  <i class="bi bi-instagram" style="color: #c87f19"></i>
                </span>
                <span class="box50 border border-danger text-white mr-3">
                  <i class="bi bi-envelope-at-fill"></i>
                </span>
                <span class="box50 border border-danger text">
                  <i class="bi bi-youtube" style="color: #c20606"></i>
                </span>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6">
              <p>Bản quyền thuộc về () Cung cấp bởi ()</p>
            </div>
            <div class="col-md-6 text-end">
              Trang chủ Giới thiệu Sản Phẩm Liên hệ
            </div>
          </div>
        </div>
        <img
          src="/images/footer_cat_desktop.webp"
          class="w-100 img-footer"
          alt=""
        />
      </div>
    </footer>
    <!-- Modal -->
    <!-- dang ky -->
    <div
      class="modal fade"
      id="exampleModalToggle"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="form-container">
            <div class="form-header text-center">
              <img class="w-25" src="/images/health_logo.webp" alt="" />
              <h2 class="title">Đăng ký</h2>
            </div>
            <div class="form-body">
              <form action="">
                <div class="form-group mb-3">
                  <label for="username" class="form-label">Tên đăng nhập</label>
                  <div class="field d-flex">
                    <span><i class="bi bi-file-person"></i></span>
                    <input
                      type="username"
                      class="form-control"
                      name="username"
                      id="username"
                      placeholder="Nhập họ tên"
                    />
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="email" class="form-label">Email</label>
                  <div class="field d-flex">
                    <span><i class="bi bi-envelope-heart"></i></span>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Nhập email"
                    />
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="password" class="form-label">Mật khẩu</label>
                  <div class="field d-flex">
                    <span><i class="bi bi-person-lock"></i></span>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      id="password"
                      placeholder="Nhập mật khẩu"
                    />
                  </div>
                </div>
                <div class="form-group mb-3">
                  <span>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="remember"
                    />
                    <label class="form-check-label" for="remember"
                      >Nhớ mật khẩu</label
                    >
                  </span>
                  <a
                    class="float-end"
                    data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"
                    href="#"
                    >Quên mật khẩu</a
                  >
                </div>
                <div class="form-group mb-3">
                  <button type="submit" class="btn submit text-white w-100">
                    Đăng nhập
                  </button>
                </div>
              </form>
            </div>
            <div class="form-footer">
              <div class="bottom text-center">
                <span>Đã có tài khoản?</span
                > <a data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                  >Đăng nhập</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- dang nhap -->
    <div
      class="modal fade"
      id="exampleModalToggle2"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel2"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="form-container">
            <div class="form-header text-center">
              <img class="w-25" src="/images/health_logo.webp" alt="" />
              <h2 class="title">Đăng nhập</h2>
            </div>
            <div class="form-body">
              <form action="">
                <div class="form-group mb-3">
                  <label for="email" class="form-label">Email</label>
                  <div class="field d-flex">
                    <span><i class="bi bi-envelope-heart"></i></span>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Nhập email"
                    />
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="password" class="form-label">Mật khẩu</label>
                  <div class="field d-flex">
                    <span><i class="bi bi-person-lock"></i></span>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      id="password"
                      placeholder="Nhập mật khẩu"
                    />
                  </div>
                </div>
                <div class="form-group mb-3">
                  <span>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="remember"
                    />
                    <label class="form-check-label" for="remember"
                      >Nhớ mật khẩu</label
                    >
                  </span>
                  <a
                    class="float-end"
                    data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"
                    href="#"
                    >Quên mật khẩu</a
                  >
                </div>
                <div class="form-group mb-3">
                  <button type="submit" class="btn submit text-white w-100">
                    Đăng nhập
                  </button>
                </div>
              </form>
            </div>
            <div class="form-footer">
              <div class="bottom text-center">
                <span>Chưa có tài khoản?</span
                > <a data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                  >Đăng ký</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- quen mk -->
    <div
      class="modal fade"
      id="exampleModalToggle3"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel3"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="form-container">
            <div class="form-header text-center">
              <img class="w-25" src="/images/health_logo.webp" alt="" />
              <h2 class="title">Quên mật khẩu</h2>
            </div>
            <div class="form-body">
              <form action="">
                <div class="form-group mb-3">
                  <label for="email" class="form-label">Email</label>
                  <div class="field d-flex">
                    <span><i class="bi bi-envelope-heart"></i></span>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Nhập email"
                    />
                  </div>
                </div>
                <div class="form-group mb-3">
                  <button type="submit" class="btn submit text-white w-100">
                    Gửi
                  </button>
                </div>
              </form>
            </div>
            <div class="form-footer">
              <div class="bottom text-center">
                <span>Chưa có tài khoản?</span
                > <a data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                  >Đăng ký</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/min.js"></script>
</html>
